{% extends "application.html" %}
{% load i18n %}

{% block header %}
  <h1>{% translate 'remove_task' %}</h1>
{% endblock %}

{% block content %}
  <p>{% translate 'Are you sure you want to delete' %} <strong>{{ task.name }}</strong>?</p>
  <form action="{% url 'tasks:drop_task' pk=task.id %}" method="post" class="m-0">
    {% csrf_token %}
    <button type="submit" name="confirm_delete" value="yes" class="btn btn-danger">
      {% translate 'Да, удалить' %}
    </button>
  </form>
{% endblock %}
