{% extends "application.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}

{% block header %}
    <h1>{% translate 'Изменить' %}</h1>
{% endblock %}

{% block content %}
    <form action="{% url 'edit_task' pk=task.pk %}" method="post" class="m-0">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name == 'name' %}
                {% bootstrap_field field %}
            
            {% elif field.name == 'status' %}
                <div class="mb-3">
                    <label class="form-label" for="id_status">{% translate 'Изменить' %}</label>
                    {% if field.errors %}
                        <select name="{{ field.name }}" class="form-select is-invalid" id="id_{{ field.name }}">
                            <option value="">{% translate '---------' %}</option>
                            {% for status in field.field.queryset %}
                                <option value="{{ status.pk }}"
                                    {% if field.value|stringformat:"s" == status.pk|stringformat:"s" %}selected{% endif %}
                                >{{ status.name }}</option>
                            {% endfor %}
                        </select>
                        {% for error in field.errors %}
                            <div class="invalid-feedback">{{ error|escape }}</div>
                        {% endfor %}
                    {% else %}
                        <select name="{{ field.name }}" class="form-select" id="id_{{ field.name }}">
                            <option value="">{% translate '---------' %}</option>
                            {% for status in field.field.queryset %}
                                <option value="{{ status.pk }}"
                                    {% if field.value|stringformat:"s" == status.pk|stringformat:"s" %}selected{% endif %}
                                >{{ status.name }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>

            {% elif field.name == 'Описание' %}
                <div class="mb-3">
                    {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in field.errors %}
                                {{ error|escape }}<br>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <label class="form-label" for="id_description">{% translate 'Описание заметки' %}</label>
                    <textarea name="{{ field.name }}" class="form-control{% if field.errors %} is-invalid{% endif %}" id="id_{{ field.name }}" rows="10">{{ field.value }}</textarea>
                </div>

            {% elif field.name == 'executor' %}
                <div class="mb-3">
                    {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in field.errors %}
                                {{ error|escape }}<br>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <label class="form-label" for="id_executor">{% translate 'Управление' %}</label>
                    <select name="{{ field.name }}" class="form-select{% if field.errors %} is-invalid{% endif %}" id="id_{{ field.name }}">
                        <option value="">{% translate '---------' %}</option>
                        {% for user in field.field.queryset %}
                            <option value="{{ user.pk }}"
                                {% if field.value and user.pk|stringformat:"s" == field.value|stringformat:"s" %}selected{% endif %}
                            >{{ user.first_name }} {{ user.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>

            {% else %}
                <div class="mb-3">
                    {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in field.errors %}
                                {{ error|escape }}<br>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{ field.label_tag }}
                    <select name="{{ field.name }}" class="form-select{% if field.errors %} is-invalid{% endif %}" id="id_{{ field.name }}" multiple>
                        {% for label in field.field.queryset %}
                            <option value="{{ label.pk }}"
                                {% if label.pk|stringformat:"s" in field.value|stringformat:"s" %}selected{% endif %}
                            >{{ label.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="{% translate 'Изменить' %}">
    </form>
{% endblock %}
