{% extends "application.html" %}
{% load i18n %}

{% block header %}
    <h1>{% translate 'remove_user' %}</h1>
{% endblock %}

{% block content %}
    <p>{% translate 'remove_user_confirm' %} {{ user.first_name }} {{ user.last_name }}?</p>
    <form action="{% url 'users:user_delete' user.id %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" onclick="return confirm('{% translate 'remove_user_confirm' %} {{ user.first_name }} {{ user.last_name }}?')">
        {% translate 'remove_user_btn' %}
    </button>
</form>
{% endblock %}
