{% extends "application.html" %}
{% load i18n %}
{% block header %}
    <h1>{% translate 'app_users' %}</h1>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% translate 'id' %}</th>
                <th>{% translate 'user_name' %}</th>
                <th>{% translate 'full_name' %}</th>
                <th>{% translate 'created_at' %}</th>
                <th>{% translate 'actions' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name}} {{user.last_name }}</td>
                    <td>{{ user.date_joined }}</td>
                    <td class="d-flex">
                        <a href="{% url 'users' %}{{ user.id }}/update/" class="btn btn-primary me-1">{% translate 'edit_user_btn' %}</a>
                        <a href="{% url 'users' %}{{ user.id }}/delete/" class="btn btn-primary me-1">{% translate 'remove' %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}