{% extends "application.html" %}
{% load i18n %}
{% block header %}
    <h1>{% translate 'Статусы' %}</h1>
    <a href="{% url 'statuses:new_status' %}" class="btn btn-primary me-1">{% translate 'Создать статус' %}</a>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% translate 'ID' %}</th>
                <th>{% translate 'Имя' %}</th>
                <th>{% translate 'Создан' %}</th>
                <th>{% translate 'Действия' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for status in values %}
                <tr>
                    <td>{{ status.id }}</td>
                    <td>{{ status.name }}</td>
                    <td>{{ status.created_at }}</td>
                    <td class="d-flex">
                        <a href="{% url 'statuses:edit_status' status.id %}" class="btn btn-primary me-1">{% translate 'Изменить' %}</a>
                        <a href="{% url 'statuses:drop_status' status.id %}" class="btn btn-primary me-1">{% translate 'Удалить' %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
